.categories {
    background-color: white;
    width: 25%;
    max-height: 200px;
    overflow: hidden;
    margin-right: 15px;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.534);
    padding-bottom: 25px;
}

.categories p {
    text-align: right;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cat_checkbox {
    text-align: right;
    margin-right: 25px;
    margin-top: 10px;
}

.checkbox_round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}

.checkbox_round:checked {
    background-color: rgb(0, 149, 255);
}