/* width */
.categories::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .categories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(194, 194, 194); 
    border-radius: 5px;
  }
   
  /* Handle */
  .categories::-webkit-scrollbar-thumb {
    background: rgb(0, 149, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .categories::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 149, 255); 
  }

.categories {
    background-color: white;
    width: 25%;
    max-height: 200px;
    overflow-y: scroll;
    margin-right: 15px;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.534);
    padding-bottom: 25px;
}

.categories p {
    text-align: right;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cat_checkbox {
    text-align: right;
    margin-right: 25px;
    margin-top: 10px;
}

.checkbox_round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}

.checkbox_round:checked {
    background-color: rgb(0, 149, 255);
}