#content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.child {
    margin: 30px;
}

.title{
    color: rgb(0 149 255);
    font-size: 26px;
}

.input-title{
    float: right;
    background-color:rgb(0 149 255) ;
    padding-inline: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 73px;
}

.input-space{
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 250px;
    text-align: right;
    padding-right: 10px;
}

.input{
    margin:10px ;
    display: inline-flex;
    flex-direction: row-reverse;
}

.inputs-login{
    display: grid;
    grid-template-columns: 1fr;
}

.inputs-signup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.submitbutton{
    border-radius: 24px;
    padding-inline: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 230, 0);
}

.tabbar{
    background-color: #cecdcd;
    border-radius: 24px;
    padding-inline: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tablink{
    border: none;
    cursor: pointer;
    padding-inline: 35px;
    padding-top: 7px;
    padding-bottom: 5px;
    background-color: #cecdcd;
    font-size: 13px;
    margin: -4px;
}

.tablinkleft{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.tablinkright{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


.unselected{
    background-color:rgba(255, 255, 255, 0.904);
    color: #cecdcd;
}

.profile-title{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
}

.profile-title > * {
    margin: auto;
}

.margin-right{
    margin-right: 10px;
}

.margin-left{
    margin-left: 10px;
}

.tinybtn{
    border-radius: 24px;
    padding-inline: 13px;
    padding-top: 5px;
    font-size: 10px;
    padding-bottom: 5px;
    background-color: rgb(255, 230, 0);
}

.inputs-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.grid-1-3{
    grid-column: 1/3;
}

input.grid-1-3{
    width: 100%;
}

.editbtn{
    border-radius: 24px;
    padding-inline: 16px;
    padding-top: 5px;
    font-size: 17px;
    padding-bottom: 5px;
    background-color: rgb(255, 230, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.904);
    direction: rtl;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    max-width: 25%;
  }

  th{
    color: #cecdcd;
  }
  
tr:hover {background-color: #cecdcd;}

.receipts{
    width: 80%;
}

#trth:hover{
    background-color:  rgba(255, 255, 255, 0.904);
}

.op{
    margin: 5px;
}

.op:hover{
    color: rgb(0, 149, 255);
}

.addbtn {
    text-align: center;
    float: left;
    padding-inline: 15px;
    margin: 2% 5%;
    font-size: 1em;
    border: none;
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.prod_list{
    width: 80%;
}

.information_adp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: rgb(0, 149, 255);
    float: left;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 1;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.534);
}

.availability {
    width: 100%;
    margin-left: 15px;
}

.edit_img {
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 24px;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
}