/* menu bar is divided into two parts: menu elements and the button for sign in or sign up  */
.menu {
    height: 65px;
    background-color: white;
}

/* menu elements  */
.pages {
    width: 80%;
    height: 100%;
    float: right;
}

.store_name {
    display: table;
    height: 100%;
    line-height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    float: right;
    font-size: 1.2em;
    color: rgb(0, 149, 255);
    text-align: center;
}

.menu_elements {
    display: table;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    float: right;
    text-align: center;
    margin-top: 0px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


.pages a {
    display: table-cell;
    vertical-align: middle; 
}
.menu_elements:hover {
    color: rgb(0, 149, 255);
}
/* menu elements  */

/* button for sign in and sign up */
.menu_button {
    width: 20%;
    height: 100%;
    float: left;
    display: grid;
}

.singin_signup {
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    border-width: 2px;
    background-color: white;
    margin-left: 25px;
    font-size: 1em;
    margin: auto; 
}

.singin_signup p {
    margin: 10px 25px 10px 25px;
}

.singin_signup:hover {
    background-color: rgb(255, 230, 0);
}
/* button for sign in and sign up */

/* button after sign in or sign up */
.dropbtn {
    width: 60%;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    border-width: 2px;
    cursor: pointer;
    border-radius: 24px;
}

.dropdown {
    width: 20%;
    position: relative;
    display: inline-block;
}
  
.dropdown_content {
    width: 60%;
    height: 9em;
    display: none;
    background-color: #b6b6b6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 20%;
    margin-top: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1;
}
  
.dropdown_content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown_content a:hover {background-color: #d1d1d1;}
  
.dropdown:hover .dropdown_content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(255, 230, 0);
}

/* button after sign in or sign up */
