.menu {
    height: 65px;
    background-color: white;
}

.pages {
    width: 50%;
    height: 100%;
    float: right;
}

.singin_signup {
    width: 50%;
    height: 100%;
    float: left;
}

.store_name {
    display: table;
    height: 100%;
    line-height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    float: right;
    font-size: 1.2em;
    color: rgb(0, 255, 255);
    text-align: center;
}

.menu_elements {
    display: table;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    float: right;
    text-align: center;
    margin-top: 0px;
}

.pages span {
    display: table-cell;
    vertical-align: middle; 
}
.menu_elements:hover {
    color: rgb(0, 255, 255);
}


