.product_box {
    background-color: white;
    width: 30%;
    height: 400px;
    margin-right: 15px;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.534);
}

.product_img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.product_box h3 {
    text-align: right;
    margin-right: 25px;
}

.product_box h4 {
    text-align: right;
    color: gray;
    font-weight: lighter;
    margin-right: 25px;
}

.separate_line {
    height:0.5px;
    width:90%;
    border-width:0;
    background-color:rgba(151, 151, 151, 0.6);
    margin: 55px auto 0px auto;
}

.bottom_part {
    width: 100%;
    height: 83px;
    line-height: 83px;
}

.product_price {
    width: 20%;
    float: right;
    margin-right: 5%;
    font-size: 1.2em;
}

.unit {
    float: right;
    margin-right: 1%;
    font-size: 1.2em;
}

.shop_btn {
    text-align: center;
    width: 40%;
    float: left;
    margin: 25px 15px;
    font-size: 1em;
    border: none;
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}