<div>
	<div class="single_banner_slide" style="background-image: url(img/search-bg.jpg);">
		<h2>..در محصولات سایت جستجو کنید</h2>
		<input class="search_input" placeholder="...نام محصول خود را وارد کنید">
		<button class="submitbutton search_button"> جستجو کنید</button>
	</div>
</div>