<div class="menu">
    <div class="pages">
        <div class="store_name"><a href="test">شایق</a></div>
        <div class="menu_elements"><a  href="test">صفحه اول</a></div>
        <p class="menu_elements"><a href="test">تماس با ما</a></p>
        <p class="menu_elements"><a href="test">پشتیبانی</a></p>
        <p class="menu_elements"><a href="test">محصولات</a></p>
    </div>
    <div class="menu_button">
        <button class="singin_signup"><p>ورود / ثبت نام</p></button>
    </div>
</div>