<div class="menu">
    <div class="pages">
        <div class="store_name"><span>شایق</span></div>
        <div class="menu_elements"><span>صفحه اول</span></div>
        <p class="menu_elements"><span>تماس با ما</span></p>
        <p class="menu_elements"><span>پشتیبانی</span></p>
        <p class="menu_elements"><span>محصولات</span></p>
    </div>
    <!-- <div class="menu_button">
        <button class="singin_signup"><p>ورود / ثبت نام</p></button>
    </div> -->
    <div class="dropdown">
        <button class="dropbtn">
            <img src="img/down-arrow.png" style="max-width: 10px;"/>
            شقایق قاسمی
        </button>
        <div class="dropdown_content">
            <a href="#">پروفایل</a>
            <a href="#">خروج از حساب</a>
        </div>
      </div>
</div>