<div class="menu">
    <div class="pages">
        <div class="store_name"><a href="test">شایق</a></div>
        <div class="menu_elements"><a  href="test">صفحه اول</a></div>
        <p class="menu_elements"><a href="test">تماس با ما</a></p>
        <p class="menu_elements"><a href="test">پشتیبانی</a></p>
        <p class="menu_elements"><a href="test">محصولات</a></p>
    </div>
    <% if(user == "") { %>
    <div class="menu_button">
        <a href="/login" class="singin_signup"><p>ورود / ثبت نام</p></a>
    </div>
    <% } else { %>
    <div class="dropdown">
        <button class="dropbtn">
            <img src="img/down-arrow.png" style="max-width: 10px;"/>
            <%= user.firstname + " " + user.lastname %>
        </button>
        <div class="dropdown_content">
            <a href="/profile">پروفایل</a>
            <a href="/exit">خروج از حساب</a>
        </div>
    </div>
    <% } %>
</div>