<div id="content">
    <p class="title child">
        فروشگاه - ورود
    </p>
    <div class="inputs-login child">
        <%- include('input.ejs') -%>
        <%- include('input.ejs') -%>
    </div>
    <a class="submitbutton child">ورود</a>
</div>