<div id="content">
    <p class="title child">
        فروشگاه - ثبت نام
    </p>
    <div class="inputs-login child">
        <%- include('input.ejs',{data:'ایمیل'}) -%>
        <%- include('input.ejs',{data:'رمز عبور'}) -%>
    </div>
    <a href="test" class="submitbutton child">ثبت نام</a>
</div>