<div id="content">
    <p class="title child">
        اضافه کردن محصول جدید
    </p>
    <div class="inputs-signup child" style="grid-template-rows: 1fr;grid-template-columns: 1fr 1fr;">
        <%- include('input.ejs',{data:{name:'موجودی محصول',placeholder:'موجودی محصول خود را وارد کنید'},additional:""}) -%>
        <%- include('input.ejs',{data:{name:'عنوان محصول',placeholder:'عنوان مورد نظر خود را وارد کنید'},additional:""}) -%>
    </div>
    <%- include('input.ejs',{data:{name:'قیمت محصول',placeholder:'اقیمت مورد نظر خود را وارد کنید'},additional:""}) -%>
    <label style="margin: 15px;">تصویر مورد نظر خود را آپلود کنید</label>
    <input type="file" class="edit_img" name="img" accept="image/*">
    <a href="test" class="submitbutton child">اضافه کردن</a>
</div>