<div id="div-ctab" style="display: none;" class="receipts child">
    <table>
        <tr id="trth">
          <th>نام دسته بندی</th>
          <th>عملیات</th>
        </tr>
        <% for(let i =0 ;i<categories.length ;i++){ %>
        <tr>
            <td> <%= categories[i].name %></td>
            <td>
                <% if(categories[i].isdeleteable) {%>
                <a class="op" href="/editcategory?id=<%= categories[i]._id %>">ویرایش دسته بندی</a>
                <a class="op" href="/removecategory?id=<%= categories[i]._id %>">x حذف دسته بندی</a>
                <% } %>
            </td>
        </tr>
        <% } %>
      </table>
</div>