<div class="receipts child">
    <table>
        <tr id="trth">
          <th>نام دسته بندی</th>
          <th>عملیات</th>
        </tr>
        <tr>
            <td>دسته بندی</td>
            <td>
                <a class="op" href="123">ویرایش دسته بندی</a>
                <a class="op" href="123">x حذف دسته بندی</a>
            </td>
        </tr>
        <tr>
            <td>دسته بندی</td>
            <td>
                <a class="op" href="123">ویرایش دسته بندی</a>
                <a class="op" href="123">x حذف دسته بندی</a>
            </td>
        </tr>
        <tr>
            <td>دسته بندی</td>
            <td>
                <a class="op" href="123">ویرایش دسته بندی</a>
                <a class="op" href="123">x حذف دسته بندی</a>
            </td>
        </tr>
        <tr>
            <td>دسته بندی</td>
            <td>
                <a class="op" href="123">ویرایش دسته بندی</a>
                <a class="op" href="123">x حذف دسته بندی</a>
            </td>
        </tr>
      </table>
</div>