<div id="div-etab" class="editprofile">
    <form action="/editinfo" method="POST">
    <div class="inputs-profile">
        <%- include('input.ejs',{data:{name:'نام خانوادگی',placeholder:'قاسمی'},additional:"",name:"last_name",type:"text"}) -%>
        <%- include('input.ejs',{data:{name:'نام',placeholder:'شقایق'},additional:"",name:"first_name",type:"text"}) -%>
        <%- include('input.ejs',{data:{name:'رمز عبور',placeholder:'رمز عبور خود را وارد کنید'},additional:"grid-1-3",name:"password",type:"password"}) -%>
        <%- include('textarea.ejs',{data:{name:'آدرس',placeholder:'ایران - تهران - قلب حسن'},name:"address"}) -%>
    </div>
    <button type="submit" class="editbtn child">ویرایش اطلاعات</button>
    </form>
</div>