<div class="input <%= additional %>">
    <label class="input-title"><%= data.name %></label>
    <input class="input-space <%= additional %>" placeholder="<%= data.placeholder %>" type="text">
</div>