<div id="content">
    <p class="title child">
        فروشگاه - ورود
    </p>
    <div class="inputs-login child">
        <%- include('input.ejs',{data:{name:'ایمیل',placeholder:'ایمیل خود را وارد کنید'},additional:""}) -%>
        <%- include('input.ejs',{data:{name:'رمز عبور',placeholder:'رمز عبور خود را وارد کنید'},additional:""}) -%>
    </div>
    <a href="test" class="submitbutton child">ورود</a>
</div>