<div id="div-rtab" class="receipts child" style="display: none;">
    <table>
        <tr id="trth">
          <th>کد پیگیری</th>
          <th>کالا</th>
          <th>قیمت پرداخت شده</th>
          <th>آدرس ارسال شده</th>
        </tr>
        <% for(let i =0 ; i < orders.length ;i++) { %>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif;"><%= orders[i].sell_id %></td>
            <td><%= orders[i].product_name %></td>
            <td><%= orders[i].price %> تومان </td>
            <td><%= orders[i].recv_address %></td>
        </tr>
        <% } %>
      </table>
</div>