<div class="receipts child rtab">
    <table>
        <tr id="trth">
          <th>کد پیگیری</th>
          <th>کالا</th>
          <th>قیمت پرداخت شده</th>
          <th>آدرس ارسال شده</th>
        </tr>
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif;">SHOP123456</td>
            <td>موس گیمینگ ریزر</td>
            <td>10000 تومان</td>
            <td>ایران-تهران-قلب حسن</td>
        </tr>
        <tr>
            <td>SHOP123456</td>
            <td>موس گیمینگ ریزر</td>
            <td>10000 تومان</td>
            <td>ایران-تهران-قلب حسن</td>
        </tr>
        <tr>
            <td>SHOP123456</td>
            <td>موس گیمینگ ریزر</td>
            <td>10000 تومان</td>
            <td>ایران-تهران-قلب حسن</td>
        </tr>
        <tr>
            <td>SHOP123456</td>
            <td>موس گیمینگ ریزر</td>
            <td>10000 تومان</td>
            <td>ایران-تهران-قلب حسن</td>
        </tr>
      </table>
</div>