<div class="categories">
    <p class="category_title">دسته بندی ها</p>
    <hr style="height:1px;border-width:0;background-color:rgb(151, 151, 151)">
    <%- include('categories.ejs',{data:{name:'دسته بندی یک',value:'category1'}}) -%>
</div>