<div class="categories">
    <p class="category_title">دسته بندی ها</p>
    <hr style="height:0.5px;border-width:0;background-color:rgba(151, 151, 151, 0.6)">
    <%- include('checkbox.ejs',{data:{name:'دسته بندی یک',value:'category1'}}) -%>
</div>