<div class="cat_checkbox">
    <label class="content_checkbox"> <%= data.name %></label>
    <input onclick="pagination()" class="checkbox_round" type="checkbox" name="<%= data.name %>" value="<%= data.value %>">
</div>