<div class="home_list">
    <div class="filter_boxes">
        <%- include("categories.ejs",{categories:categories}); -%>
        <div style="margin-top: 15px;"><%- include("price_filter.ejs"); -%></div>
    </div>
    <div style="width: 74%;float: left;">
        <div class="products"> 
        </div>
        <div style="margin-top: 15PX;">
            <%- include('pagination.ejs'); -%>
        </div>
    </div>
</div>

