<div class="center">
  <div class="pagination">
  <a id="previous_page" onclick="change_page(this.id)" href="#" style="visibility:hidden;">&laquo;</a>
  <% for(let i =0 ;i<pagenumbers;i++){ %>
  <a id="<%=i+1 %>" class="page_number" onclick="change_page(this.id)" href="#"><%=i+1 %></a>
  <% } %>
  <a id="next_page" onclick="change_page(this.id)"href="#">&raquo;</a>
  </div>
</div>