<div class="center">
  <div class="pagination">
  <a id="previous_page" onclick="pagination(this.id)" href="#">&laquo;</a>
  <a id="1" class="page_number" onclick="pagination(this.id)" href="#">1</a>
  <a id="2" class="page_number active" onclick="pagination(this.id)" href="#">2</a>
  <a id="3" class="page_number" onclick="pagination(this.id)" href="#">3</a>
  <a id="next_page" onclick="pagination(this.id)"href="#">&raquo;</a>
  </div>
</div>