
<div class="filter_price">
    <div class="filter_title">تنظیم قیمت کالا</div>
    <hr style="height:0.5px;border-width:0;background-color:rgba(151, 151, 151, 0.6)">
    <div class="price_range">
        <div class="flex jcsa aifs f-wrap w-100vw">
            <div class="main-card-ctt flex jcc aic">
                <div class="rubber-ipt mb-m mt-s">
                    <div class="rubber-ipt-range"></div>
    
                    <div class="rubber-ipt-min" onmouseup="price()"></div>
                    <div class="rubber-ipt-max" onmouseup="price()"></div>
    
                    <div class="w-100 flex jcsb mt-s">
                        <p class="rubber-value-min">0</p>
                        <p class="rubber-value-max">5000000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
