<div>
    <div class="sorting_box">
        <p class="ordered_by">:مرتب سازی بر اساس</p>
        <div class="best_btn" onclick="sort('best_seller')"><p class="best_seller">بیشترین فروش</p></div>
        <div class="price_btn" onclick="sort('highest_price')"><p class="price">قیمت</p></div>
    </div>
</div>