<div>
    <div class="sorting_box">
        <p class="ordered_by">:مرتب سازی بر اساس</p>
        <div class="best_btn"><p class="best_seller">بیشترین فروش</p></div>
        <div class="price_btn"><p class="price">قیمت</p></div>
    </div>
</div>